/assets/img/projects
# Local Netlify folder
.netlify
/index.html
assets/css/colors.css
assets/css/bundle.min.css
assets/manifest.json
/og.html
*.xcf
/assets/img/og.svg
/assets/img/blogs/*
favicon*.json