<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ name }} - Portfolio</title>
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/colors.css">
    <link rel="stylesheet" href="./assets/css/style.css" />
    <link rel="stylesheet" href="./assets/css/timeline.css" />
    <meta
      name="description"
      content="Hi, I am Haider Ali Punjabi"
    />
    <link rel="canonical" href="{{ url }}" />
    <!-- <meta
      name="keywords"
      content="caspertheghost, dev-caspertheghost, casper, @casper124578, Dev-CasperTheGhost, CasperTheGhost Dev, casper, iversen, casper iversen, @dev-caspertheghost, frontend dev, developer, frontend developer portfolio, portfolio"
    /> -->
    <meta name="theme-color" content="{{ primary_color }}" />
    <meta property="og:color" content="{{ primary_color }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:title" content="{{ name }}" />
    <meta property="og:image" content="https://caspertheghost.me/assets/img/Icon.png" />
    <meta
      property="og:description"
      content="Hi I'm Casper Iversen! A web developer"
    />
    <meta property="og:site_name" content="{{ name }}" />
    <link
      rel="shortcut icon"
      href="./assets/img/Icon.png"
      type="image/x-icon"
    />
    <link rel="apple-touch-icon" href="./assets/img/Icon.png" />
    <link rel="manifest" href="./assets/manifest.json" />
  </head>

  <body>
    <aside class="menu" id="menu">
      <button class="close-menu">
        <img src="./assets/img/close.svg" alt="Close Menu" />
      </button>
      <div class="menu-links">
        <a href="#skills-section" class="menu-link">Skills</a>
        <a href="#projects-section" class="menu-link">Projects</a>
        <a href="#about-section" class="menu-link">About</a>
        <a href="#timeline-section" class="menu-link">Timeline</a>
        <a href="#contact-section" class="menu-link">Contact</a>
      </div>
    </aside>

    <div class="container">
      <div>
        <nav id="nav-bar" class="nav-bar">
          <div class="nav-content">
            <div>
              <!-- <a href="#" class="nav-icon">
                <img src="./assets/img/Icon.png" alt="icon" />
              </a> -->
            </div>
            <div class="nav-links">
              <button class="open-menu">
                <img src="./assets/img/menu.svg" alt="menu" />
              </button>
              <a
                data-page="skills-section"
                href="#skills-section"
                class="nav-link link-line"
                >Skills</a
              >
              <a
                data-page="projects-section"
                href="#projects-section"
                class="nav-link link-line"
                >Projects</a
              >
              <a
                data-page="about-section"
                href="#about-section"
                class="nav-link link-line"
                >About</a
              >
              <a
                data-page="timeline-section"
                href="#timeline-section"
                class="nav-link link-line"
                >Timeline</a
              >
              <a
                data-page="contact-section"
                href="#contact-section"
                class="nav-link link-line"
                >Contact</a
              >
            </div>
          </div>
        </nav>

        <main class="main">
          <div class="fade-down">
            <p>{{ name }}</p>
            <h1>
              {{ subtitle }}
            </h1>
            <div class="btn-container">
              <a class="btn" href="#projects-section">Projects</a>
              <a class="btn" href="#contact-section">Contact</a>
            </div>
          </div>
          <a href="#skills-section" class="scroll-down">
            <p>Scroll Down</p>
            <img src="./assets/img/arrow_down.svg" alt="Scroll down" />
          </a>

          <div class="socials">
            {% for social in social_media %}
                <a
                target="_blank"
                rel="noopener noreferrer"
                href="{{ social.url }}"
              >
                <i class="{{ social.icon }}"></i>
              </a>
            {% endfor %}
          </div>
        </main>

        <section class="skills section" id="skills-section">
          <h1 class="section-title">My Backpack</h1>
          <div class="skills-container">
            {% for skill in backpack %}
            <div class="skill">
              <i class="{{ skill.icon }}"></i>
              <p>{{ skill.name }}</p>
            </div>
            {% endfor %}
          </div>
        </section>

        <section class="section projects" id="projects-section">
          <h1 class="section-title">Projects</h1>
          <div class="projects-container">
            {% for project in projects %}
            <div class="project">
              <h2>{{ project.name }}</h2>
              <p>
                {{ project.description }}
              </p>
              <div class="btn-container">
                {% for button in project.buttons %}
                <a
                target="_blank"
                rel="noopener noreferrer"
                class="project-btn"
                href="{{ button.link }}"
                >{{ button.name }}</a
              >
                {% endfor %}
              </div>
            </div>
            {% endfor %}
            
          </div>
        </section>

        <section class="section about" id="about-section">
          <h1 class="section-title">About Me</h1>
          <p>
            Hello, I'm Casper! I am a <span id="age"></span>y/o programmer and
            student. I Love programming a lot of things, making websites, bots,
            applications and more. I'm a self taught developer and I've been
            programming for about 2 years now and still learning new
            technologies every day, mostly focusing on React and design at the
            moment.
          </p>
        </section>

        <section class="section timeline-section" id="timeline-section">
          <h1 class="section-title">Experience Timeline</h1>
          <div class="timeline">
            <div class="timeline-item left">
              <div class="timeline-item-body">
                <div class="timeline-item-header">
                  <p>Present</p>
                  <h4>Freelancing</h4>
                </div>
                Working on projects to learn and a few for clients
              </div>
            </div>
            <div class="timeline-item right">
              <div class="timeline-item-body">
                <div class="timeline-item-header">
                  <p>July 2020</p>
                  <h4>React Timeline</h4>
                </div>
                Created my first NPM package! Create cool and good looking
                timelines with ease,
                <a
                  class="timeline-link"
                  href="https://www.npmjs.com/package/react-timelinev1"
                  >View it here</a
                >
              </div>
            </div>
            <div class="timeline-item left">
              <div class="timeline-item-body">
                <div class="timeline-item-header">
                  <p>July 2020</p>
                  <h4>FreeCodeCamp</h4>
                </div>
                Started to learn more about data structures and algorithms on
                <a class="timeline-link" href="https://freecodecamp.com"
                  >FreeCodeCamp</a
                >, Fun but hard!
              </div>
            </div>
            <div class="timeline-item right">
              <div class="timeline-item-body">
                <div class="timeline-item-header">
                  <p>June 2020</p>
                  <h4>Sololearn</h4>
                </div>
                Started learning the basics of JavaScript again. Was very
                helpful,
                <a
                  class="timeline-link"
                  href="https://www.sololearn.com/Certificate/1024-18951663/pdf/"
                  >View Certificate</a
                >
              </div>
            </div>
            <div class="timeline-item left">
              <div class="timeline-item-body">
                <div class="timeline-item-header">
                  <p>March 2020</p>
                  <h4>Quarantine</h4>
                </div>
                Quarantine was pretty cool, had a lot of time to learn more
                about ReactJs and could work on a lot of projects!
              </div>
            </div>
            <div class="timeline-item right">
              <div class="timeline-item-body">
                <div class="timeline-item-header">
                  <p>End 2019 - Present</p>
                  <h4>SnailyCAD</h4>
                </div>
                At the end of 2019 I started my first big project! SnailyCAD.
              </div>
            </div>
            <div class="timeline-item left">
              <div class="timeline-item-body">
                <div class="timeline-item-header">
                  <p>2018 - 2019</p>
                  <h4>Beginning!</h4>
                </div>
                2018, '19 were the years I fully got into programming and
                computers
              </div>
            </div>
          </div>
        </section>

        <section class="section contact-section" id="contact-section">
          <h1 class="section-title">Contact me</h1>
          <form id="contact-form">
            <div id="msg"></div>
            <div class="form-group">
              <label for="from_name">Enter Name</label>
              <input
                class="form-input"
                type="text"
                name="from_name"
                id="from_name"
                placeholder="Name.."
                required
              />
            </div>
            <div class="form-group">
              <label for="email">Enter Email</label>
              <input
                class="form-input"
                type="email"
                name="email"
                id="email"
                placeholder="Email.."
                required
              />
            </div>
            <div class="form-group">
              <label for="message">Enter Message</label>
              <textarea
                class="form-input"
                rows="5"
                type="text"
                name="message"
                id="message"
                placeholder="Message.."
                required
              ></textarea>
            </div>
            <div class="form-group">
              <a class="form-other" href="mailto:casper.iversen2@gmail.com"
                >send me an email directly</a
              >
              <button class="submit-btn" type="submit">Submit</button>
            </div>
          </form>
        </section>

        <footer class="footer">
          <div class="footer-center">
            <p>
              Made by
              <a href="https://github.com/dev-caspertheghost">CasperTheGhost</a>
              in 2020 with ❤️
            </p>
          </div>
          <div class="footer-links">
            {% for social in social_media %}
            <a
            target="_blank"
            rel="noopener noreferrer"
            href="{{ social.url }}"
            class="footer-link link-line"
          >
            {{ social.name }}</a
          >
            {% endfor %}
            
           
          </div>
        </footer>
      </div>
    </div>

    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/zenscroll/4.0.2/zenscroll-min.js"
    ></script>
    <script defer src="./assets/js/script.js"></script>
  </body>
</html>
