
<meta name="theme-color" content="{{ primary_color }}"></meta>
<meta name=”robots” content="index, follow">
<link rel="icon" type="image/png" sizes="32x32" href="./assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="./assets/favicons/favicon-16x16.png">
<link rel="manifest" href="./assets/favicons/site.webmanifest">
<link rel="mask-icon" href="./assets/favicons/safari-pinned-tab.svg" color="#57cc8a">
<link rel="shortcut icon" href="./assets/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#353b43">
<meta name="msapplication-TileImage" content="./assets/favicons/mstile-144x144.png">
<meta name="msapplication-config" content="./assets/favicons/browserconfig.xml">
<link rel="apple-touch-icon" href="./assets/favicons/apple-touch-icon.png">
<meta name="theme-color" content="#57cc8a">
<meta property="og:title" content="{{ title }}" />
<meta property="og:url" content="{{ url }}/" />
<meta property="og:type" content="{{ type }}" />
<meta property="og:description" content="{{ description }}" />
<meta name="theme-color" content="{{ primary_color }}" />
<meta property="og:color" content="{{ primary_color }}" />
<meta property="og:image" content="{{ url }}{{ og_image }}" />
<meta property="twitter:card" content="summary" />
<meta property="twitter:title" content="{{ title }}" />
<meta property="twitter:description" content="{{ description }}" />
<meta property="twitter:url" content="{{ url }}/" />
<meta property="twitter:image" content="{{ url }}{{ og_image }}" />
<meta name="description" content="{{ description }}" />
<link rel="canonical" href="{{ url }}" />

<script data-goatcounter="https://haideralipunjabi.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
